@import "./../../styles/index";

.page-introduction {
  max-width: 608px;
  color: $text-color-inversed;
  margin: 40px auto 35px;

  @media screen and (max-width: $breakpoint-sm) {
    margin-top: 30px;
  }

  &--modified {
    min-height: 50vh;
  }
}

.page-introduction__title {
  text-align: center;
  margin: 0;
}

.page-introduction__paragraph {
  text-align: center;
  margin: 20px 0 0;
}

.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  padding: 54px 87px 54px 70px;
  border-radius: 10px;
  margin-top: 40px;

  @media screen and (max-width: $breakpoint-sm) {
    display: block;
    padding: 35px 17px 45px;
    margin-top: 25px;
  }
}

.contact-us__description {
  max-width: 600px;
}

.contact-us__title {
  color: $title-color-inversed;
  font-family: $title-font-family;
  font-size: 28px;
  line-height: 1.29;
  font-weight: $bold-font-weight;
  margin: 0 0 13px;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 25px;
  }
}

.contact-us__text {
  color: $text-color-inversed;
  margin: 0;
  @include paragraph();

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
  }
}

.contact-us__button {
  margin-left: 25px;

  @media screen and (max-width: $breakpoint-sm) {
    margin-left: 0;
    margin-top: 40px;
  }

  button {
    padding-right: 48px;
    padding-left: 48px;

    @media screen and (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }
}

.right-background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }
}

.left-background {
  position: absolute;
  bottom: 310px;
  left: 0;
  z-index: -1;

  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }
}
