@import "./../../styles/index";

.navigation {
  display: flex;
  margin-left: 57px;
  align-items: center;

  &--desktop-only {
    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    margin-left: 20px;
  }
}

.navigation__item {
  font-size: 18px;
  line-height: 1.11;
  font-family: $title-font-family;
  font-weight: $bold-font-weight;
  color: $title-color-inversed;
  text-decoration: none;

  &:hover {
    color: $text-color-inversed;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s ease all;
  }

  + .navigation__item {
    margin-left: 35px;

    @media screen and (min-width: $breakpoint-sm+1) and (max-width: $breakpoint-md) {
      margin-left: 20px;
    }
  }
}
