$text-color: #282e34;
$text-color-inversed: #d4d4e7;
$title-color: #0f273f;
$title-color-inversed: #fff;
$brand-color: #35359e;
$brand-color-inversed: #fff;
$background-color: #5252e3;

$brand-color-orange: #ea9d13;
$brand-color-pink: #ea6ca0;
$brand-color-blue: $brand-color;

$button-color: #6bedd4;
$button-color-text: #0f273f;
$button-color-text-additional: #fff;
