$main-font-family: "Nunito", sans-serif;
$title-font-family: "Montserrat", Helvetica, sans-serif;

$main-font-size: 24px;
$main-line-height: 1.17;
$main-sub-font-size: 40px;
$main-sub-line-height: 1.4;
$title-font-size: 54px;
$title-line-height: 1.19;

$regular-font-weight: 400;
$bold-font-weight: 700;

$content-space: 35px;
$content-space-mobile: 25px;

$button-font-family: $title-font-family;
$button-font-weight: $bold-font-weight;
$button-font-size: 18px;
$button-line-height: 1.11;

$container-width: 1256px;
$breakpoint-lg: 1300px;
$breakpoint-md: 1000px;
$breakpoint-sm: 768px;
